<html lang="en-us">

<comment id="comment" style="visibility: hidden">
    {
        "to_human": "this is a container",
        "component_name": "container-top-to-bottom",
        "importParams": [
            {
                "name": "top",
                "type": "component",
                "require": "any",
                "comment": "top content"
            },
            {
                "name": "middle",
                "type": "component",
                "require": "any",
                "comment": "middle content"
            },
            {
                "name": "bottom",
                "type": "component",
                "require": "any",
                "comment": "bottom content"
            }
        ]
    }
</comment>

<!-- example -->

<comment id="importParams" component_param_index="0" style="visibility: hidden">
    {
        "params": [
            {
                "name": "top",
                "value": "p",
                "component_param_index": 0
            },
            {
                "name": "middle",
                "value": "p",
                "component_param_index": 1
            },
            {
                "name": "bottom",
                "value": "p",
                "component_param_index": 2
            }
        ]
    }
</comment>

<template id="containerTopToBottom" main="true">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 200px;
            border: 1px solid black;
        }
        .top, .middle, .bottom {
            flex: 1;
            border: 1px solid black;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div class="container">
        <div class="top">Top</div>
        <div class="middle">Middle</div>
        <div class="bottom">Bottom</div>
    </div>
    <button id="moveButton">Move Containers</button>
</template>

<script id="src">
    class ContainerTopToBottom extends HTMLElement {
        constructor() {
            super();
            const template = document.getElementById('containerTopToBottomTemplate').content;
            this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));

            // 获取子容器
            this.top = this.shadowRoot.querySelector('.top');
            this.middle = this.shadowRoot.querySelector('.middle');
            this.bottom = this.shadowRoot.querySelector('.bottom');

            // 获取按钮并添加事件监听器
            this.moveButton = this.shadowRoot.querySelector('#moveButton');
            this.moveButton.addEventListener('click', () => this.moveContainers());
        }

        // 定义一个方法来移动子容器的位置
        moveContainers() {
            const temp = this.top.cloneNode(true);
            this.top.replaceWith(this.bottom.cloneNode(true));
            this.bottom.replaceWith(this.middle.cloneNode(true));
            this.middle.replaceWith(temp);

            // 重新获取子容器引用
            this.top = this.shadowRoot.querySelector('.top');
            this.middle = this.shadowRoot.querySelector('.middle');
            this.bottom = this.shadowRoot.querySelector('.bottom');
        }

        connectedCallback() {
            // 获取 component_param_index 属性
            const componentParamIndex = this.getAttribute('component_param_index');
            this.loadParams(componentParamIndex);
        }

        // 定义一个方法来加载参数
        loadParams(componentParamIndex) {
            const importParams = document.querySelector(`comment[id="importParams"][component_param_index="${componentParamIndex}"]`);
            if (importParams) {
                const params = JSON.parse(importParams.textContent).params;
                console.log('Loaded params:', params);

                // 根据加载的参数设置内容
                this.top.innerHTML = `<${params[0].value} component_param_index="${params[0].component_param_index}">1</${params[0].value}>`;
                this.middle.innerHTML = `<${params[1].value} component_param_index="${params[1].component_param_index}">2</${params[1].value}>`;
                this.bottom.innerHTML = `<${params[2].value} component_param_index="${params[2].component_param_index}">3</${params[2].value}>`;
            } else {
                console.error('No params found for component_param_index:', componentParamIndex);
            }
        }
    }

    // 定义自定义元素
    customElements.define('container-top-to-bottom', ContainerTopToBottom);
</script>
<container-top-to-bottom component_param_index="0"></container-top-to-bottom>
</html>

